
<div class="container">

  <form #userform  (submit)="submitUser(userform.value)">
      <div class="row form-group"> 
      <Label class="col-md-4">User Name</Label>
        <input class="col-md-6 form-control"  name="username" [(ngModel)]="username" value="{{username}}" type="text">
       
      </div>
      <div class="row form-group"> 
          <Label class="col-md-4">User Email</Label>
            <input class="col-md-6 form-control" type="text">
          </div>
          <div class="row form-group"> 
              <Label class="col-md-4">Password</Label>
                <input class="col-md-6 form-control" type="password">
              </div>
              <div class="row form-group"> 
                  <Label class="col-md-4">Address</Label>
                  <textarea class="col-md-6 form-control"></textarea>
                  </div>
                  <div class="row form-group"> 
                  <Label class="col-md-4">Gender</Label>
                  <select class="form-control col-md-6">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                  </div>
                  <div class="row form-group"> 
                  <Label class="col-md-4">Hobbies</Label>
                  <div class="col-md-6">
                    <input type="checkbox" class="">Singing
                    <input type="checkbox" class="">Cricket
                    <input type="checkbox" class="">Other
                  </div>
                  </div>
                  <div class="row">
                    <button type="submit" class="btn btn-danger pull-right">Add User</button>
                  </div>
  </form>
</div>
